/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.05.2018, 16:36:18
    Author     : Tim
*/

h1 {
    font-family: "courier", Times, serif;
}

p::first-letter {
    font-size: 28px;
}

ul {
    list-style-type:none;
}

body article p{
    background-color: white;
}

.stickyheady {
    position: sticky;
    top: 0px;
}

body {
    background-color: rgb(205, 133, 63);
}

nav {
    background-color: pink;
    float:right;
    position:fixed; 
    right:0; 
    top:220px;
    z-index:10;
}

picture {
    position: relative;
    animation-name: movyPicture;
    animation-duration: 4s; 
}

@keyframes movyPicture {
    from   {right:100%; top;}
    to  {right:0px; top;}
}

#top {
	position: fixed;
	bottom: 0;
	right: 0;
}

.News {
	border-style: solid;
	border-color: red;
}

.Tasks {
	border-style: solid;
	border-color: blue;
}

.Projects {
	border-style: solid;
	border-color: green;
}

article form textarea {
    background: rgb(205, 133, 63);
}

article form textarea:focus {
    background: white;
}

